In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression # Linear Regression
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler
from imblearn.ensemble import BalancedRandomForestClassifier # RandomForestClassifier

In [3]:
%matplotlib inline
from sklearn.datasets import make_blobs

In [4]:
# importing test weather data
weather_df = pd.read_csv("Severe_Weather_TestData.csv", low_memory=False)

In [5]:
# dropping columns not needed
weather_df = weather_df.drop(columns=['INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
                                     'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'MAGNITUDE', 'TOR_F_SCALE', 'TOR_LENGTH',
                                     'TOR_WIDTH', 'BEGIN_LAT', 'BEGIN_LON'])

In [6]:
# displaying weather df
weather_df

     EVENT_ID        STATE  STATE_FIPS  YEAR MONTH_NAME EVENT_TYPE  CATEGORY
0    10050384  MISSISSIPPI          28  1950       June    Tornado       NaN
1    10086808         OHIO          39  1950    January    Tornado       NaN
2    10120418        TEXAS          48  1950       June    Tornado       NaN
3     9981922     ARKANSAS           5  1950    January    Tornado       NaN
4    10001432      GEORGIA          13  1950       June    Tornado       NaN
..        ...          ...         ...   ...        ...        ...       ...
284    240665    TENNESSEE          47  2010       June  Lightning       NaN
285    245002     ILLINOIS          17  2010       June  Lightning       NaN
286    245889    MINNESOTA          27  2010       June    Tornado       NaN
287    226112     ILLINOIS          17  2010       June    Tornado       NaN
288    246134      GEORGIA          13  2010       June  Lightning       NaN

[289 rows x 7 columns]

In [7]:
# Drop the null columns where all values are null
weather_df = weather_df.dropna(axis='columns', how='all')

In [8]:
# Drop the null rows
weather_df = weather_df.dropna()

In [9]:
# show cleaned dataset
weather_df.head(25)

    EVENT_ID           STATE  STATE_FIPS  YEAR MONTH_NAME EVENT_TYPE
0   10050384     MISSISSIPPI          28  1950       June    Tornado
1   10086808            OHIO          39  1950    January    Tornado
2   10120418           TEXAS          48  1950       June    Tornado
3    9981922        ARKANSAS           5  1950    January    Tornado
4   10001432         GEORGIA          13  1950       June    Tornado
5   10049829     MISSISSIPPI          28  1955    October    Tornado
6    9984208        ARKANSAS           5  1955    October    Tornado
7    9991373        COLORADO           8  1955       June    Tornado
8   10121863           TEXAS          48  1955       June    Tornado
9    9978062         ALABAMA           1  1964    January    Tornado
10  10035949        KENTUCKY          21  1964       June    Tornado
11  10079512      NEW MEXICO          35  1964       June    Tornado
12  10077996  NORTH CAROLINA          37  1964   December    Tornado
13  10113684    SOUTH DAKOTA          46  1964       June    Tornado
14   9988548         FLORIDA          12  1964       June    Tornado
15  10012200            IOWA          19  1964       June    Tornado
16  10095071        OKLAHOMA          40  1964       June    Tornado
17   9995806         GEORGIA          13  1964   December    Tornado
18  10026396          KANSAS          20  1964       June    Tornado
19   9976193         ALABAMA           1  1967    October    Tornado
20   9977284         ALABAMA           1  1967   December    Tornado
21  10092072        OKLAHOMA          40  1967       June    Tornado
22  10060671        MISSOURI          29  1967   December    Tornado
23  10071904        NEBRASKA          31  1967       June    Tornado
24  10067230        NEBRASKA          31  1967       June    Tornado

In [10]:
# Saving cleaned test weather data
file_path = "cleaned_weather_one_nonML.csv"
weather_df.to_csv(file_path, index=False)

In [11]:
# make data for ML

In [12]:
# dropping columns not needed
weather_df = weather_df.drop(columns=['STATE', 'STATE_FIPS'])

In [13]:
# show df for ML
weather_df

     EVENT_ID  YEAR MONTH_NAME EVENT_TYPE
0    10050384  1950       June    Tornado
1    10086808  1950    January    Tornado
2    10120418  1950       June    Tornado
3     9981922  1950    January    Tornado
4    10001432  1950       June    Tornado
..        ...   ...        ...        ...
284    240665  2010       June  Lightning
285    245002  2010       June  Lightning
286    245889  2010       June    Tornado
287    226112  2010       June    Tornado
288    246134  2010       June  Lightning

[289 rows x 4 columns]

In [14]:
# Saving cleaned test weather data for ML
file_path = "cleaned_weather_one_ML.csv"
weather_df.to_csv(file_path, index=False)

In [15]:
# Co2 Below This

In [18]:
# importing test co2 data 
carbon_df = pd.read_csv("co2_byYear.csv", low_memory=False)

In [19]:
# display co2 data
carbon_df

,year,co2,co2_per_capita,co2_per_unit_energy,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,1950,23193.336,943.286,0.000,15959.768,272.887,223.550,1110.931,5611.231,9.976,...,0.000,0.00,0.000,0.00,0.000,7.570713e+09,1.585967e+13,0.000,0.000,0.000
1,1951,24765.194,1214.978,0.000,16981.583,309.265,243.305,1306.674,5907.881,11.002,...,0.000,0.00,0.000,0.00,0.000,7.712655e+09,7.992201e+12,0.000,0.000,0.000
2,1952,25203.424,834.737,0.000,16927.201,331.430,259.877,1405.429,6263.420,10.710,...,0.000,0.00,0.000,0.00,0.000,7.852545e+09,8.401431e+12,0.000,0.000,0.000
3,1953,25929.893,880.578,0.000,17104.163,368.454,248.979,1498.933,6689.993,12.910,...,0.000,0.00,0.000,0.00,0.000,7.992062e+09,8.884521e+12,0.000,0.000,0.000
4,1954,26744.552,1378.627,0.000,17319.801,400.182,236.584,1588.220,7182.609,11.442,...,0.000,0.00,0.000,0.00,0.000,8.133217e+09,9.099744e+12,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,124705.642,1156.831,44.924,48325.275,4990.527,1438.122,27011.160,41892.058,1048.509,...,1415.378,17424.08,345.519,6291.93,105.005,2.239131e+10,2.147076e+14,366170.181,5562418.068,208.589
67,2017,126304.716,1156.251,18.863,48587.789,5067.569,1576.265,27603.881,42412.614,1056.584,...,0.000,0.00,0.000,0.00,0.000,2.264281e+10,2.211738e+14,366923.317,3678183.705,0.000
68,2018,128452.538,1152.783,18.444,49368.748,5286.347,1531.205,28781.873,42422.168,1062.207,...,0.000,0.00,0.000,0.00,0.000,2.289184e+10,2.276454e+14,376507.961,3698476.648,0.000
69,2019,128422.887,1165.000,18.142,48731.161,5408.677,1611.674,29061.768,42547.578,1062.016,...,0.000,0.00,0.000,0.00,0.000,2.313895e+10,0.000000e+00,380148.487,3659567.475,0.000
70,2020,121592.746,1076.428,0.000,46429.316,5470.589,1613.384,28391.506,38641.763,1046.186,...,0.000,0.00,0.000,0.00,0.000,2.338292e+10,0.000000e+00,0.000,0.000,0.000

In [20]:
# rename columns for merging purposes
carbon_df = carbon_df.rename(columns={"year": "YEAR"})
carbon_df

,YEAR,co2,co2_per_capita,co2_per_unit_energy,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,1950,23193.336,943.286,0.000,15959.768,272.887,223.550,1110.931,5611.231,9.976,...,0.000,0.00,0.000,0.00,0.000,7.570713e+09,1.585967e+13,0.000,0.000,0.000
1,1951,24765.194,1214.978,0.000,16981.583,309.265,243.305,1306.674,5907.881,11.002,...,0.000,0.00,0.000,0.00,0.000,7.712655e+09,7.992201e+12,0.000,0.000,0.000
2,1952,25203.424,834.737,0.000,16927.201,331.430,259.877,1405.429,6263.420,10.710,...,0.000,0.00,0.000,0.00,0.000,7.852545e+09,8.401431e+12,0.000,0.000,0.000
3,1953,25929.893,880.578,0.000,17104.163,368.454,248.979,1498.933,6689.993,12.910,...,0.000,0.00,0.000,0.00,0.000,7.992062e+09,8.884521e+12,0.000,0.000,0.000
4,1954,26744.552,1378.627,0.000,17319.801,400.182,236.584,1588.220,7182.609,11.442,...,0.000,0.00,0.000,0.00,0.000,8.133217e+09,9.099744e+12,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,124705.642,1156.831,44.924,48325.275,4990.527,1438.122,27011.160,41892.058,1048.509,...,1415.378,17424.08,345.519,6291.93,105.005,2.239131e+10,2.147076e+14,366170.181,5562418.068,208.589
67,2017,126304.716,1156.251,18.863,48587.789,5067.569,1576.265,27603.881,42412.614,1056.584,...,0.000,0.00,0.000,0.00,0.000,2.264281e+10,2.211738e+14,366923.317,3678183.705,0.000
68,2018,128452.538,1152.783,18.444,49368.748,5286.347,1531.205,28781.873,42422.168,1062.207,...,0.000,0.00,0.000,0.00,0.000,2.289184e+10,2.276454e+14,376507.961,3698476.648,0.000
69,2019,128422.887,1165.000,18.142,48731.161,5408.677,1611.674,29061.768,42547.578,1062.016,...,0.000,0.00,0.000,0.00,0.000,2.313895e+10,0.000000e+00,380148.487,3659567.475,0.000
70,2020,121592.746,1076.428,0.000,46429.316,5470.589,1613.384,28391.506,38641.763,1046.186,...,0.000,0.00,0.000,0.00,0.000,2.338292e+10,0.000000e+00,0.000,0.000,0.000

In [21]:
# dropping columns not needed
carbon_df = carbon_df.drop(columns=['co2_per_unit_energy', 'coal_co2', 'cement_co2', 'flaring_co2', 'gas_co2',
                                         'oil_co2', 'other_industry_co2', 'ghg_per_capita', 'methane', 'methane_per_capita',
                                         'nitrous_oxide', 'nitrous_oxide_per_capita', 'population', 'gdp', 'primary_energy_consumption',
                                         'energy_per_capita', 'energy_per_gdp', 'total_ghg'])

In [22]:
# show new dataframe
carbon_df

    YEAR         co2  co2_per_capita
0   1950   23193.336         943.286
1   1951   24765.194        1214.978
2   1952   25203.424         834.737
3   1953   25929.893         880.578
4   1954   26744.552        1378.627
..   ...         ...             ...
66  2016  124705.642        1156.831
67  2017  126304.716        1156.251
68  2018  128452.538        1152.783
69  2019  128422.887        1165.000
70  2020  121592.746        1076.428

[71 rows x 3 columns]

In [96]:
# Saving cleaned carbon data
file_path = "cleaned_carbon_one_nonML.csv"
weather_df.to_csv(file_path, index=False)

In [97]:
# making data for ML with the carbon data

In [63]:
# dropping columns not needed
carbon_df = carbon_df.drop(columns=['ISO_CODE', 'COUNTRY'])
carbon_df

     YEAR       CO2  CUMULATIVE_CO2
0    1950     0.084           0.099
1    1955     0.154           0.649
2    1964     0.839           4.978
3    1967     1.282           8.358
4    1973     1.635          17.252
..    ...       ...             ...
274  1989  5131.927      244082.956
275  1997  5686.465      286766.539
276  2003  6011.837      322176.256
277  2005  6134.521      334424.784
278  2010  5675.786      363675.530

[279 rows x 3 columns]

In [64]:
# Saving cleaned carbon data
file_path = "cleaned_carbon_one_ML.csv"
weather_df.to_csv(file_path, index=False)

In [65]:
# checking dtypes

In [66]:
carbon_df.dtypes

YEAR                int64
CO2               float64
CUMULATIVE_CO2    float64
dtype: object

In [67]:
# weather dtypes
weather_df.dtypes

EVENT_ID       int64
YEAR           int64
MONTH_NAME    object
EVENT_TYPE    object
dtype: object

In [68]:
# Merging below this

In [69]:
# Merge attempt one
combo_df = weather_df.merge(carbon_df, left_on='YEAR', right_on='YEAR')

In [70]:
# checking merge
combo_df

      EVENT_ID  YEAR MONTH_NAME EVENT_TYPE       CO2  CUMULATIVE_CO2
0     10050384  1950       June    Tornado     0.084           0.099
1     10050384  1950       June    Tornado    93.452        1736.488
2     10050384  1950       June    Tornado     0.297           7.464
3     10050384  1950       June    Tornado   476.122       12107.269
4     10050384  1950       June    Tornado    54.739        1340.047
...        ...   ...        ...        ...       ...             ...
6817    246134  2010       June  Lightning    45.049        2635.114
6818    246134  2010       June  Lightning   270.148        6275.885
6819    246134  2010       June  Lightning   294.078       28043.035
6820    246134  2010       June  Lightning   511.632       73998.526
6821    246134  2010       June  Lightning  5675.786      363675.530

[6822 rows x 6 columns]

In [71]:
# Drop the null columns where all values are null
combo_df = combo_df.dropna(axis='columns', how='all')

In [72]:
# check work
combo_df

      EVENT_ID  YEAR MONTH_NAME EVENT_TYPE       CO2  CUMULATIVE_CO2
0     10050384  1950       June    Tornado     0.084           0.099
1     10050384  1950       June    Tornado    93.452        1736.488
2     10050384  1950       June    Tornado     0.297           7.464
3     10050384  1950       June    Tornado   476.122       12107.269
4     10050384  1950       June    Tornado    54.739        1340.047
...        ...   ...        ...        ...       ...             ...
6817    246134  2010       June  Lightning    45.049        2635.114
6818    246134  2010       June  Lightning   270.148        6275.885
6819    246134  2010       June  Lightning   294.078       28043.035
6820    246134  2010       June  Lightning   511.632       73998.526
6821    246134  2010       June  Lightning  5675.786      363675.530

[6822 rows x 6 columns]

In [73]:
# Drop the null rows
combo_df = combo_df.dropna()

In [74]:
# check work
combo_df

      EVENT_ID  YEAR MONTH_NAME EVENT_TYPE       CO2  CUMULATIVE_CO2
0     10050384  1950       June    Tornado     0.084           0.099
1     10050384  1950       June    Tornado    93.452        1736.488
2     10050384  1950       June    Tornado     0.297           7.464
3     10050384  1950       June    Tornado   476.122       12107.269
4     10050384  1950       June    Tornado    54.739        1340.047
...        ...   ...        ...        ...       ...             ...
6817    246134  2010       June  Lightning    45.049        2635.114
6818    246134  2010       June  Lightning   270.148        6275.885
6819    246134  2010       June  Lightning   294.078       28043.035
6820    246134  2010       June  Lightning   511.632       73998.526
6821    246134  2010       June  Lightning  5675.786      363675.530

[6822 rows x 6 columns]

In [35]:
# Adding machine learning model parameters below here

In [85]:
target = ["CO2"]

In [86]:
# split data into training and testing

# Create our features
X = pd.get_dummies(combo_df.drop(columns="CO2"))

# Create our target
y = pd.get_dummies(combo_df["CO2"])

In [87]:
X.describe()

,EVENT_ID,YEAR,CUMULATIVE_CO2,MONTH_NAME_December,MONTH_NAME_January,MONTH_NAME_June,MONTH_NAME_October,EVENT_TYPE_Blizzard,EVENT_TYPE_Heavy Snow,EVENT_TYPE_Lightning,EVENT_TYPE_Tornado
count,6.822000e+03,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000,6822.000000
mean,6.298431e+06,1991.823952,27324.030389,0.099091,0.166667,0.606420,0.127822,0.070361,0.017590,0.415128,0.496922
std,3.412078e+06,16.158745,69225.548386,0.298806,0.372705,0.488579,0.333916,0.255773,0.131466,0.492780,0.500027
min,2.028500e+05,1950.000000,0.004000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.453775e+06,1980.000000,47.921000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.607396e+06,1997.000000,655.957000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.001200e+07,2005.000000,14578.930000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.016173e+07,2010.000000,363675.530000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [88]:
# Check the balance of our target values
y = combo_df['CO2']
y.value_counts()

0.465       92
24.809      78
5686.465    78
521.278     78
1.466       78
            ..
0.461        4
0.850        4
0.663        4
2728.348     4
0.110        4
Name: CO2, Length: 273, dtype: int64

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
Counter(y_train)

Counter({277.501: 13,
         2.678: 19,
         1.143: 58,
         21.97: 19,
         5.1: 36,
         8.285: 12,
         220.537: 11,
         0.524: 58,
         1.635: 21,
         558.804: 36,
         170.829: 21,
         6.298: 28,
         3510.169: 58,
         44.652: 12,
         32.519: 19,
         59.222: 21,
         129.144: 19,
         340.243: 58,
         0.103: 3,
         4.232: 12,
         812.903: 58,
         53.992: 36,
         569.962: 28,
         0.48: 21,
         3.784: 4,
         530.038: 21,
         327.11: 58,
         562.333: 58,
         16.907: 8,
         45.788: 28,
         2.589: 19,
         1.084: 58,
         1.466: 58,
         2.547: 13,
         0.997: 36,
         0.517: 36,
         1.902: 36,
         27.065: 3,
         5.416: 58,
         0.465: 69,
         45.049: 36,
         1057.342: 28,
         6134.521: 28,
         40.491: 10,
         0.297: 4,
         24.809: 58,
         65.451: 58,
         442.847: 11,
         1.004: 12,
         8616.653: 36,
         373.233: 12,
         40.244: 21,
         3355.519: 21,
         0.451: 13,
         14.398: 36,
         46.203: 21,
         460.226: 19,
         967.22: 12,
         4.94: 58,
         682.617: 13,
         39.419: 13,
         4.448: 36,
         23.126: 58,
         60.348: 11,
         24.442: 28,
         193.764: 8,
         7.597: 11,
         43.037: 58,
         5675.786: 36,
         575.852: 28,
         404.533: 36,
         6.319: 36,
         270.148: 36,
         571.472: 12,
         294.078: 36,
         1.015: 28,
         18.206: 58,
         5686.465: 58,
         8691.038: 58,
         281.637: 19,
         0.888: 58,
         35.719: 13,
         0.18: 8,
         0.608: 36,
         1.608: 58,
         1.532: 58,
         29.97: 28,
         5876.555: 28,
         500.792: 4,
         8.398: 36,
         378.427: 21,
         0.044: 4,
         0.227: 19,
         6011.837: 12,
         1.464: 36,
         2.918: 19,
         0.088: 21,
         4784.823: 21,
         1.905: 28,
         387.602: 28,
         49.171: 36,
         22.375: 21,
         0.055: 4,
         404.61: 19,
         2.774: 28,
         5.256: 21,
         0.421: 4,
         0.084: 4,
         592.057: 19,
         381.273: 21,
         5.287: 21,
         1.967: 25,
         7.197: 3,
         237.258: 19,
         43.147: 8,
         13.382: 13,
         0.436: 23,
         307.017: 12,
         0.575: 28,
         4808.296: 10,
         49.026: 19,
         16530.951: 36,
         7.863: 21,
         10.233: 4,
         1494.496: 11,
         15.194: 4,
         4.199: 28,
         4.55: 21,
         12522.219: 28,
         3264.111: 8,
         673.004: 11,
         190.542: 58,
         2.015: 8,
         123.107: 13,
         1.245: 12,
         345.56: 8,
         0.839: 8,
         1.319: 28,
         5.166: 11,
         5131.927: 13,
         0.337: 27,
         10.028: 28,
         11.406: 4,
         313.118: 28,
         0.663: 3,
         1.282: 19,
         0.989: 13,
         0.78: 13,
         0.425: 21,
         1509.495: 8,
         6421.483: 13,
         60.626: 12,
         581.576: 13,
         266.46: 28,
         2.142: 8,
         4400.905: 11,
         0.85: 3,
         51.506: 28,
         0.561: 12,
         0.674: 11,
         33.459: 12,
         190.521: 3,
         2463.654: 13,
         579.035: 11,
         34.2: 36,
         0.011: 8,
         5.605: 4,
         13.407: 11,
         4.971: 21,
         1.756: 11,
         248.401: 12,
         699.221: 13,
         1.946: 13,
         404.708: 4,
         659.577: 21,
         20.154: 13,
         0.004: 7,
         2.07: 12,
         3.883: 4,
         0.583: 28,
         511.632: 36,
         0.213: 19,
         7.972: 10,
         460.637: 8,
         0.37: 21,
         6.435: 12,
         521.278: 58,
         34.826: 36,
         1827.449: 19,
         739.272: 4,
         2.765: 13,
         237.578: 8,
         3.371: 19,
         37.677: 28,
         58.907: 4,
         1008.293: 21,
         1.231: 8,
         0.202: 8,
         0.128: 6,
         2.378: 12,
         2541.361: 4,
         607.866: 8,
         1.303: 28,
         3705.254: 19,
         83.507: 11,
         10716.11: 12,
         0.073: 4,
         1.085: 8,
         8.977: 13,
         93.452: 4,
         108.876: 8,
         239.733: 4,
         3.427: 11,
         2104.213: 4,
         1.157: 19,
         1.186: 12,
         15.737: 19,
         0.286: 10,
         3.134: 4,
         3.431: 13,
         0.535: 12,
         1.701: 19,
         576.952: 3,
         2.975: 8,
         1.703: 8,
         476.122: 4,
         1218.023: 36,
         54.739: 4,
         0.915: 4,
         582.344: 12,
         26.747: 12,
         5498.753: 4,
         0.74: 4,
         0.504: 4,
         536.51: 11,
         48.809: 13,
         0.11: 3,
         31.374: 11,
         70.674: 3,
         676.212: 3,
         0.388: 19,
         6.777: 3,
         0.432: 4,
         568.554: 4,
         25.943: 12,
         4545.014: 12,
         94.321: 4,
         28.129: 8,
         462.885: 13,
         2.119: 11,
         13.614: 3,
         0.154: 3,
         14.279: 8,
         131.47: 4,
         1.379: 3,
         2728.348: 3,
         0.993: 4,
         690.7: 4,
         0.267: 4,
         199.912: 3,
         0.461: 3,
         8.05: 4,
         21.988: 4,
         128.058: 3,
         78.835: 4,
         0.458: 4,
         1.411: 4,
         169.473: 3,
         4663.165: 4,
         42.247: 4,
         33.547: 4,
         1.198: 3,
         154.134: 4})

In [90]:
# resample the training data with the BalancedRandomForestClassifier

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc.fit(X_train_scaled, y_train)

ValueError: Unknown label type: 'continuous'

In [81]:
# display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = brfc.predict(X_test)
confusion_matrix(y_test, y_pred)

AttributeError: 'BalancedRandomForestClassifier' object has no attribute 'estimators_'

In [82]:
# calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

NameError: name 'y_pred' is not defined

In [83]:
# print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

NameError: name 'y_pred' is not defined

In [84]:
# list the features sorted in descending order by feature importance
sorted(zip(brfc.feature_importances_, X.columns), reverse=True)

AttributeError: 'BalancedRandomForestClassifier' object has no attribute 'estimators_'